<style>
  .modal-content{
  color:white
  background-color:#121212
</style>

<!-- Modal to confirm cart remove -->
<div class="modal fade" id="Modal-remove-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removecartModalLabel">{{item.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{remove_cart_form.hidden_tag()}}
                    <h4 class="text-center">
                        Are you sure you want to remove " {{item.name}} " for R {{item.price}} out from your cart?
                    </h4>
                    <br>
                    <h6 class="text-center">
<!--                        <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">-->
                        <input id="remove_item" name="remove_item" type="hidden" value="{{item.id}}">
                        {{remove_cart_form.submit(class="btn btn-outline-success btn-block")}}
                    </h6>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

